body {
    display: flex;
    justiy-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: #000000;
}

svg {
    border: solid 2px #fff;
    max-height: 80vh;
    max-width: 80vw;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    border: solid 2px white;
    width: 70vw;
    height: 70vh;
}

.blue {
    opacity: 0;
    align-self: flex-end;
}